.Invite-menu{
    width: 630px;
    height: 900px;
    border-radius: 25px;
    background-color: #858585;
    margin: 10px;
}
.Tehnik-Div{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    gap: 10px;

}
.url-Invite-friends{
    width: 500px;
    height: 100px;
    background-color: #3a3232ee;
    margin: 10px;
    border-radius: 50px;
    margin: 0 auto;
    gap: 50px;


}

.Invite-friends{
    width: 500px;
    height: 650px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 25px;
    margin: 0 auto;
    gap: 10px;


}