.Choosing-place{
    width: 650px;
    height: 950px;
    border-radius: 25px;
    background-color: #d2e2e4;

}

.department-1,.department-2,.department-3,.department-4,.department-5,.department-6{

    align-items: center;
    border-radius: 1000px;
    width: 500px;
    height: 100px;
    background-color: #00000081;
    margin: 0 auto;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    align-items: center; /* центрируем текст по вертикали */



}