.Open-Electric-farm{
    width: 650px;
    height: 750px;
    margin: 10;
    background-color: hsla(187, 25%, 86%, 0.459);
    border-radius: 25px;
    margin: auto;



}

.Sale-farm{

    width: 650px;
    height: 350px;
    margin: 10;
    background-color: hsla(187, 25%, 86%, 0.459);
    border-radius: 25px;
    margin: auto;

    
}

.Open-farm,.Open-territory,.Open-other{

    width: 600px;
    height: 235px;
    background-color: hsla(129, 14%, 71%, 0.74);
    border-radius: 25px;
    display: flex; 
    margin: auto;
    margin-top: 10px;

}
.photo-farm,.photo-territory,.photo-other{
    width: 400px;
    height: 190px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 25px;
    display: flex; 
    margin: auto;
    margin-top: 20px;
    filter: blur(3px);


}

.Text-Open{
    width: 100px;
    height: 65px;
    background-color: #39e20fee;
    margin: auto;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
}

.Watt-Quantity{

    width: 200px;
    height: 65px;
    background-color: #bdccbab6;
    margin: 10px auto;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Watt-Sell,.Watt-Buy{
    width: 150px;
    height: 65px;
    margin: 10px;
    text-align: center;
    background-color: #db2020f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}
.Watt-Buy{
    background-color: #4eda2bd7;
}

.Watt-Sell-market,.Watt-Sell-market-input{
    width: 200px;
    height: 45px;
    margin: 10px;
    text-align: center;
    background-color: #b6d3bac4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 25px;
    
}

.Sale-controle{

    width: 50px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;


}
.Stock-screen{

    width: 400px;
    height: 160px;
    margin:  auto;
    margin-right: 20px;
    background-color: #b6d3bac4;
    border-radius: 25px;
}

.Sell-menu-market,.Buy-menu-market{
    width: 300px;
    height: 65px;
    margin: 10px auto;
    text-align: center;
    background-color: #9b8e8e88;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 20px;
}
